StatePanel {
    background: white;
    border: 1px solid #a6a6a6;
    border-radius: 18px;
}

#undoButton, #redoButton, #submitButton, #cancelButton {
    background: transparent;
}

RecordCardFrame {
    background: #f0eded;
    border:1px solid #eee8d5;
    border-radius: 5px;
}
